* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #1e1e22;
	color: #eff7fc;
	text-align: center;
}

.work {
	max-width: 100em;
	margin: 0 auto;
}

.work a {
	padding: 1em;
	text-decoration: none;
	display: inline-block;
}

img {
	border-radius: 10px;
	width: 38.4em;
	height: 24em;
	margin: auto;
}