* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #1e1e22;
	color: #eff7fc;
	text-align: center;
}

h1 {
	font-size: 3em;
	border-bottom: 1px solid #eff7fc;
	width: 12em;
	margin: 0 auto;
	padding: 0.1em;
}

h2 {
	padding: 0.2em;
}

.work {
	max-width: 100em;
	margin: 0 auto;
}

.work a {
	padding: 1em;
	text-decoration: none;
	display: inline-block;
}

img {
	border-radius: 10px;
	width: 38.4em;
	height: 24em;
	margin: auto;
}

footer {
	background-color: #636467;
	width: 100%;
	min-height: 20em;
	margin-top: 5em;
	padding: 6em;
}

footer p {
	width: 60%;
	margin: 0 auto;
	padding: 1em;
}