h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

img {
	border-radius: 10px;
	width: 38.4em;
	height: 24em;
	margin: auto;
	display: block;
}

.work a {
	padding: 1em;
}

footer p {
	text-align: center;
}